<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="properties/database.properties"/>
	
	<!-- Alias 설정 -->
	<typeAliases>
		<typeAlias type="kr.co.sist.user.vo.FakeVO" alias="fVO"/>
		<typeAlias type="kr.co.sist.login.vo.LoginVO" alias="lVO"/>
		<typeAlias type="kr.co.sist.login.domain.LoginDomain" alias="ld"/>
		<typeAlias type="kr.co.sist.common.BoardRangeVO" alias="brVO"/>
		<typeAlias type="kr.co.sist.admin.vo.AdminEventVO" alias="aeVO"/>
		<typeAlias type="kr.co.sist.admin.domain.AdminEventDomain" alias="aed"/>
		<typeAlias type="kr.co.sist.admin.domain.EventDomain" alias="ed"/>
		<typeAlias type="kr.co.sist.user.domain.EventDomain" alias="ued"/>
		<typeAlias type="kr.co.sist.user.domain.MyInquiryDomain" alias="mid"/>
		<typeAlias type="kr.co.sist.user.vo.MyInquiryVO" alias="miVO"/>
		<typeAlias type="kr.co.sist.user.vo.ReviewVO" alias="rVO"/>
		<typeAlias type="kr.co.sist.user.domain.MyPurchaseDomain" alias="mpd"/>
		<typeAlias type="kr.co.sist.admin.domain.AdminInquiryDomain" alias="aid"/>
		<typeAlias type="kr.co.sist.user.domain.GoodsDomain" alias="gd"/>
		<typeAlias type="kr.co.sist.user.vo.GoodsVO" alias="gVO"/>
   
		
		<!-- 인영 시작 -->
		<typeAlias type="kr.co.sist.user.domain.MySalesDomain" alias="msd"/>
		<typeAlias type="kr.co.sist.user.domain.ProductDomain" alias="pd"/>
		<typeAlias type="kr.co.sist.user.domain.WishDomain" alias="wd"/>
		<typeAlias type="kr.co.sist.user.vo.ProductVO" alias="pVO"/>
		<typeAlias type="kr.co.sist.user.vo.WishVO" alias="wVO"/>
		<typeAlias type="kr.co.sist.user.vo.BuyReceiptVO" alias="buyRVO"/>
		<typeAlias type="kr.co.sist.admin.domain.AdminProductDetailDomain" alias="apdd"/>
		<typeAlias type="kr.co.sist.admin.domain.AdminProductDomain" alias="apd"/>
		<typeAlias type="kr.co.sist.admin.vo.AdminProductVO" alias="apVO"/>
		<!-- 인영 끝 -->
	</typeAliases>
	
	
	
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="${driver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${username}"/>
        <property name="password" value="${password}"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <mapper resource="kr/co/sist/user/dao/mapper/join/joinMapper.xml"/>
    <mapper resource="kr/co/sist/user/dao/mapper/mypage/mypageInfoDetailMapper.xml"/>
    <mapper resource="kr/co/sist/login/dao/mapper/loginMapper.xml"/>
    <mapper resource="kr/co/sist/user/dao/mapper/fakeMapper.xml"/>
    <mapper resource="kr/co/sist/admin/dao/mapper/adminEventMapper.xml"/>
    <mapper resource="kr/co/sist/admin/dao/mapper/dashBoardMapper.xml"/>
    <mapper resource="kr/co/sist/user/dao/mapper/mypage/mypagePrdInfoMapper.xml"/>
    <mapper resource="kr/co/sist/user/dao/mapper/goodsMapper.xml"/>
    <mapper resource="kr/co/sist/user/dao/mapper/eventMapper.xml"/>
    <mapper resource="kr/co/sist/user/dao/mapper/inquiryMapper.xml"/>
    <mapper resource="kr/co/sist/user/dao/mapper/reiview/reiviewMapper.xml"/>
    <mapper resource="kr/co/sist/user/dao/mapper/reiview/purchaseReviewMapper.xml"/>
    <mapper resource="kr/co/sist/user/dao/mapper/purchaseMapper.xml"/>
    <mapper resource="kr/co/sist/admin/dao/mapper/adminInquiryMapper.xml"/>
    <mapper resource="kr/co/sist/admin/dao/mapper/user/adminUserMapper.xml"/>
    <mapper resource="kr/co/sist/user/dao/mapper/sales/salesMapper.xml"/>
    <mapper resource="kr/co/sist/user/dao/mapper/reportMapper.xml"/>
    <mapper resource="kr/co/sist/admin/dao/mapper/adminReportMapper.xml"/>
    <mapper resource="kr/co/sist/user/dao/mapper/homeMapper.xml"/>
    <mapper resource="kr/co/sist/user/dao/mapper/chat/chatMapper.xml"/>
    
    <!-- 인영 mapper -->
    <mapper resource="kr/co/sist/admin/dao/mapper/adminProductMapper.xml"/>
    <mapper resource="kr/co/sist/user/dao/mapper/productMapper.xml"/>
    <mapper resource="kr/co/sist/user/dao/mapper/productMapper.xml"/>
    <mapper resource="kr/co/sist/user/dao/mapper/wishMapper.xml"/>
    <mapper resource="kr/co/sist/user/dao/mapper/buyReceiptMapper.xml"/>
    <mapper resource="kr/co/sist/user/dao/mapper/reiview/salesReviewMapper.xml"/>
    <!-- 인영 mapper 끝-->
  </mappers> 
</configuration>