<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.sist.goods">
	
	<!-- 상품 조회 by 상품코드 -->
	<select id="selectGoodsOne" resultType="kr.co.sist.user.domain.GoodsDomain" 
	parameterType="kr.co.sist.user.vo.GoodsVO">
	SELECT	*
	FROM	PRODUCT
	WHERE	PCODE = #{pcode}
	</select>
	
	<!-- 대분류 상품 목록 조회 -->
	<select id="BigCategory" resultType="kr.co.sist.user.domain.GoodsDomain"
		parameterType="String">
		
	SELECT P.PCODE, P.IMG, P.PNAME, P.PRICE, P.LOC, P.INPUT_DATE
	FROM PRODUCT P
	JOIN CATEGORY3 C3 ON P.C3CODE = C3.C3CODE
	JOIN CATEGORY2 C2 ON C3.C2CODE = C2.C2CODE
	JOIN CATEGORY C ON C2.CCODE = C.CCODE
	WHERE C.CCODE = #{category}	
	</select>
	
	<!-- 대분류 상품 Count(개수) -->
	<select id="BigCategoryPageCnt" resultType="Integer"
		parameterType="kr.co.sist.common.PageVO">
	SELECT COUNT(P.PCODE)
	FROM PRODUCT P
	JOIN CATEGORY3 C3 ON P.C3CODE = C3.C3CODE
	JOIN CATEGORY2 C2 ON C3.C2CODE = C2.C2CODE
	JOIN CATEGORY C ON C2.CCODE = C.CCODE
	WHERE C.CCODE = #{category}	
	</select>
	
	<!-- 대분류 상품 목록 paging -->
	<select id="BigCategoryPage" resultType="kr.co.sist.user.domain.GoodsDomain"
		parameterType="kr.co.sist.common.PageVO">
	select * from
	(	
	SELECT ROWNUM as RNUM, P.PCODE, P.IMG, P.PNAME, P.PRICE, P.LOC, P.INPUT_DATE
	FROM PRODUCT P
	JOIN CATEGORY3 C3 ON P.C3CODE = C3.C3CODE
	JOIN CATEGORY2 C2 ON C3.C2CODE = C2.C2CODE
	JOIN CATEGORY C ON C2.CCODE = C.CCODE
	WHERE C.CCODE = #{category}	
	) 
	WHERE RNUM &gt;= #{start} and RNUM &lt;= #{end}
	</select>
	
	<!-- 중분류 상품 목록 조회 -->
	<select id="MidCategory" resultType="kr.co.sist.user.domain.GoodsDomain"
		parameterType="String">
		
	SELECT P.PCODE,P.IMG, P.PNAME, P.PRICE, P.LOC, P.INPUT_DATE
	FROM PRODUCT P
	JOIN CATEGORY3 C3 ON P.C3CODE = C3.C3CODE
	JOIN CATEGORY2 C2 ON C3.C2CODE = C2.C2CODE
	WHERE C2.C2CODE = '${category}'
	</select>
	
	<!-- 중분류 상품 Count(개수) -->
	<select id="MidCategoryPageCnt" resultType="Integer"
		parameterType="kr.co.sist.common.PageVO">
		
	SELECT COUNT(P.PCODE)
	FROM PRODUCT P
	JOIN CATEGORY3 C3 ON P.C3CODE = C3.C3CODE
	JOIN CATEGORY2 C2 ON C3.C2CODE = C2.C2CODE
	WHERE C2.C2CODE = '${category}'
	</select>
	
	<!-- 중분류 상품 목록 Paging -->
	<select id="MidCategoryPage" resultType="kr.co.sist.user.domain.GoodsDomain"
		parameterType="kr.co.sist.common.PageVO">
	SELECT * FROM
	(	
	SELECT ROWNUM as RNUM, P.PCODE,P.IMG, P.PNAME, P.PRICE, P.LOC, P.INPUT_DATE
	FROM PRODUCT P
	JOIN CATEGORY3 C3 ON P.C3CODE = C3.C3CODE
	JOIN CATEGORY2 C2 ON C3.C2CODE = C2.C2CODE
	WHERE C2.C2CODE = '${category}'
	) TB
	WHERE RNUM &gt;= #{start} and RNUM &lt;= #{end}
	</select>
	
	
	<!-- 소분류 상품 목록 조회 -->
	<select id="SmallCategory" resultType="kr.co.sist.user.domain.GoodsDomain"
		parameterType="String">
	SELECT PCODE, IMG, PNAME, PRICE, LOC, INPUT_DATE
	FROM PRODUCT
	WHERE C3CODE = '${category}'
	</select>
	
	
	<!-- 소분류 상품 Count(개수) -->
	<select id="SmallCategoryPageCnt" resultType="Integer"
		parameterType="kr.co.sist.common.PageVO">
	SELECT COUNT(PCODE)
	FROM PRODUCT
	WHERE C3CODE = '${category}'
	</select>
	
	
	<!-- 소분류 상품 목록 Paging -->
	<select id="SmallCategoryPage" resultType="kr.co.sist.user.domain.GoodsDomain"
		parameterType="kr.co.sist.common.PageVO">
	SELECT * FROM
	(
	SELECT ROWNUM as RNUM, PCODE, IMG, PNAME, PRICE, LOC, INPUT_DATE
	FROM PRODUCT
	WHERE C3CODE = '${category}'
	) TB
	WHERE RNUM &gt;= #{start} and RNUM &lt;= #{end}
	</select>
	
	
	<!-- 상품 검색창  -->
	<select id="SearchByText" resultType="kr.co.sist.user.domain.GoodsDomain"
		parameterType="String">
	SELECT PCODE, IMG, PNAME, PRICE, LOC, INPUT_DATE
	FROM PRODUCT
	WHERE PNAME LIKE '%${searchText}%'
	</select>
	
	<!-- 검색창 상품 검색 count  -->
	<select id="SearchByTextCnt" resultType="Integer"
		parameterType="kr.co.sist.common.PageVO">
	SELECT count(PCODE)
	FROM PRODUCT
	WHERE PNAME LIKE '%${searchText}%'
	</select>
	
	<!-- 검색창 상품 검색 paging -->
	<select id="SearchByTextPage" resultType="kr.co.sist.user.domain.GoodsDomain"
		parameterType="kr.co.sist.common.PageVO">
	select * from
	(
	SELECT ROWNUM as RNUM, PCODE, IMG, PNAME, PRICE, LOC, INPUT_DATE
	FROM PRODUCT
	WHERE PNAME LIKE '%${searchText}%'
	) TB
	where RNUM &gt;= ${start} and RNUM &lt;= ${end}
	</select>
	
	<select id="selectCheck" parameterType="gVO" resultType="int">
	select count(*) cnt
	from product
	where pcode = #{ pcode } and id = #{ id }
	</select>
	
	<select id="selectProduct" resultType="pd" parameterType="pVO">
    SELECT 
        p.pcode, p.pname, p.context, p.img, p.price, p.img2, p.img3, p.img4,  p.img5,
         p.input_date, p.deliver, p.status, p.saleok,
        p.loc, p.pcancel, p.c3code, p.id, c1.name as cname, c2.name as c2name, c3.name as c3name
    FROM 
        product p, CATEGORY c1, CATEGORY2 c2, CATEGORY3 c3
    WHERE  
        c1.ccode=c2.ccode AND c2.c2code = c3.c2code AND c3.C3CODE=p.C3CODE AND p.PCODE=#{pcode}
</select>

	<!-- 상품결제 시 정보 가져오기 -->
	<select id="selectPayInfo" resultType="kr.co.sist.user.domain.BuyGoodsDomain" 
	parameterType="String">
	SELECT	*
	FROM	PRODUCT
	WHERE	PCODE = #{pcode}
	</select>
	
	<!-- 상품 결제 인서트 -->
	<insert id="insertPayInfo" parameterType="kr.co.sist.user.vo.BuyVO">
	INSERT INTO SAFEPURCHASE
	VALUES ( 
	'S'||lpad(safe_seq.nextval, 5, 0), sysdate, 'N', #{id}, #{pcode}
	)
	</insert>
	
	
</mapper>



