<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user.product">

	<!-- 카테고리 조회 조회 -->
	<insert id="insertWish" parameterType="wVO">
	insert into WISH (WCODE, ID, PCODE, INPUT_DATE) values
	(wcode_seq.nextval, #{ id },#{ pcode },sysdate);
	</insert>

	<select id="selectWish" resultType="wd" parameterType="String">
		select IMG,pname,price, id, pcode , wcode
	from(select row_number() over(order by wcode ) rnum,
	 p.IMG, p.pname, p.price, p.id ,p.PCODE, w.wcode
	  from PRODUCT p,WISH w
	 where  p.pcode = w.pcode and w.id= #{ id }
	 ) where rnum between 1 and 5
		</select>
	
	
	<delete id="deleteWish" parameterType="String">
		delete from PRODUCT where PCODE=#{pcode}
	</delete>
	

</mapper>
