<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.sist.user.userSales">
<!-- 판매자가 판매한 전체 상품 -->
<select id="allSales" resultType="kr.co.sist.user.domain.sales.SalesListDomain" parameterType="String">
SELECT PCODE, PNAME, PRICE, TO_CHAR(INPUT_DATE, 'YYYY-MM-DD') INPUT_DATE, WISH, IMG
FROM  PRODUCT
WHERE ID=#{id}
</select>

<!-- 판매자가 판매중인 상품 -->
<select id="onSales" resultType="kr.co.sist.user.domain.sales.SalesListDomain" parameterType="String">
SELECT PCODE, PNAME, PRICE, TO_CHAR(INPUT_DATE, 'YYYY-MM-DD') INPUT_DATE, WISH, IMG
FROM  PRODUCT
WHERE ID=#{id} AND SALEOK='N'
</select>

<!-- 판매자가 판매완료한 상품 -->
<select id="finishedSales" resultType="kr.co.sist.user.domain.sales.SalesListDomain" parameterType="String">
SELECT PCODE, PNAME, PRICE, TO_CHAR(INPUT_DATE, 'YYYY-MM-DD') INPUT_DATE, WISH, IMG
FROM  PRODUCT
WHERE ID=#{id} AND SALEOK='Y'
</select>

<!-- 판매자 판매 상세 정보 -->
<select id="salesDetail" resultType="kr.co.sist.user.domain.sales.SalesDomain" parameterType="kr.co.sist.user.vo.sales.SalesVO">
SELECT P.PCODE, P.PNAME, BR.PAYMENT_DATE, M.ID, M.NICKNAME, M.PHONE, BR.PAYMENT, P.IMG,
	P.PRICE, BC.SELECT1, BC.SELECT2_1, BC.SELECT2_2, BC.SELECT2_3, BC.SELECT2_4, BC.CONTEXT
FROM PRODUCT P, BUYRECEIPT BR, MEMBER M, BUYCOMMENT BC
WHERE P.ID=#{id} AND P.PCODE=#{pcode} AND BR.PCODE=P.PCODE AND BR.ID=M.ID AND BR.BUYRECEIPTCODE=BC.BUYRECEIPTCODE
</select>

<!-- 전체 레코드 수 구하기 -->
<select id="totalRecode" resultType="int" parameterType="String">
SELECT COUNT(*)
FROM PRODUCT
WHERE ID=#{id}
</select>
</mapper>