<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.sist.dao.mapper.TestMapper">
	<select id="selectAllEmp" resultType="kr.co.sist.domain.EmpDomain">
	<!-- id와 method 명이 같아야 매핑 됨 -->
		select empno, sal, ename, job, hiredate
		from cp_emp4
	</select>
</mapper>