<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="admin.product">

<select id="productTotalCnt" resultType="int" parameterType="brVO">
select count(*) cnt
from  PRODUCT p, MEMBER m,CATEGORY2 c2,CATEGORY3 c3
where m.id=p.id   and p.C3CODE = c3.C3CODE and c2.C2CODE=c3.C2CODE and  p.PCANCEL !='D' and p.SALEOK !='Y'
	<if test="keyword neq null and keyword neq ''">
			<if test="field eq 'category'">
			and c2.NAME like '%'||#{ keyword }||'%'
			</if>
			<if test="field eq 'id'">
			and p.ID like '%'||#{ keyword }||'%'
			</if>
		</if>
</select>


<!-- 모든 상품 조회 -->
<select id="selectAllProduct" resultType="apd" parameterType="brVO">
select ID, NICKNAME , PCODE,NAME as category, PNAME,PRICE,INPUT_DATE
from(select p.ID,m.NICKNAME,p.PCODE, c2.NAME, p.PNAME, p.PRICE, p.INPUT_DATE
			,row_number() over(order by p.INPUT_DATE desc) rnum
from  PRODUCT p, MEMBER m,CATEGORY2 c2,CATEGORY3 c3
where m.id=p.id   and p.C3CODE = c3.C3CODE and c2.C2CODE=c3.C2CODE and  PCANCEL !='D' and SALEOK !='Y'
		<if test="keyword neq null and keyword neq ''">
			<if test="field eq 'category'">
			and c2.NAME like '%'||#{ keyword }||'%'
			</if>
			<if test="field eq 'id'">
			and p.ID like '%'||#{ keyword }||'%'
			</if>
		</if>
)
 where rnum between #{ startNum } and #{ endNum }
</select>

<!-- 상품 상세 조회 -->
<select id="selectDetailProduct" resultType="apdd" parameterType="String">
select p.PNAME,p.PCODE, p.PCANCEL, m.ID, m.NICKNAME, p.IMG, c1.name as category, c2.NAME as category2,c3.name as category3, p.PRICE, p.STATUS,p.INPUT_DATE
from  PRODUCT p, MEMBER m,CATEGORY c1,CATEGORY2 c2,CATEGORY3 c3
where m.id=p.id   and p.C3CODE = c3.C3CODE and c1.CCODE =c2.CCODE and c2.C2CODE=c3.C2CODE
and p.pcode=#{ pcode }
</select>

<!-- 관리자가 상품 삭제시 pcancel을 C로 변경 -->
<update id="updateProduct"  parameterType="String">
update PRODUCT
set   PCANCEL='C'
where  PCODE=#{pcode}
</update>


</mapper>