<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="admin.event">

<select id="totalCnt" resultType="int" parameterType="brVO">
select count(*) cnt
from  event
<where>
	<if test="keyword neq null and keyword neq ''">
		<if test="field eq 'title'">
		title like '%'||#{ keyword }||'%'
		</if>
		<if test="field eq 'context'">
		context like '%'||#{ keyword }||'%'
		</if>
	</if>
</where>
</select>

<!-- 이벤트 리스트 -->
<select id="selectAllEvent" resultType="aed" parameterType="brVO">
select eventcode, title, input_date, id
from (select eventcode, title, input_date, id, row_number() over(order by input_date desc) rn
from event
<where>
	<if test="keyword neq null and keyword neq ''">
		<if test="field eq 'title'">
			title like '%'||#{ keyword }||'%'
		</if>
		<if test="field eq 'context'">
			context like '%'||#{ keyword }||'%'
		</if>
	</if>
</where>
)
where rn between #{startNum} and #{endNum}
</select>

<!-- 이벤트 상세 -->
<select id="selectOneEvent" resultType="aed" parameterType="String">
select eventcode, title, context, img, img2, input_date, 
to_char(start_date,'yyyy-mm-dd') start_date, to_char(end_date,'yyyy-mm-dd') end_date, id
from event
where eventcode = #{ eventcode } 
</select>

<!-- 이벤트 등록 -->
<insert id="insertEvent" parameterType="aeVO">
insert into event 
values('E' || lpad(event_seq.nextval, 5, 0), #{ title }, #{ context }, #{ img }, sysdate, #{ start_date }, #{ end_date }, #{ id }, #{ img2 })
</insert>

<!-- 이벤트 수정 -->
<update id="updateEvent" parameterType="aeVO">
	update event
	<set>
		<if test="title neq null and title neq ''">
		title = #{ title },
		</if>
		<if test="context eq null or context eq ''">
		context = null,
		</if>
		<if test="context neq null and context neq ''">
		context = #{ context },
		</if>
		<if test="img neq null and img neq ''">
		img = #{ img },
		</if>
		<if test="img2 neq null and img2 neq ''">
		img2 = #{ img2 },
		</if>
		<if test="start_date neq null and start_date neq ''">
		start_date = #{ start_date },
		</if>
		<if test="end_date neq null and end_date neq ''">
		end_date = #{ end_date }
		</if>
	</set>
	where eventcode = #{ eventcode }
</update>

<delete id="deleteEvent" parameterType="String">
delete
from event
where eventcode = #{ eventcode }
</delete>

</mapper>