<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="admin.product">

<select id="productTotalCnt" resultType="int" parameterType="brVO">
select count(*) cnt
from  PRODUCT p, MEMBER m,CATEGORY2 c2,CATEGORY3 c3
where m.id=p.id   and p.C3CODE = c3.C3CODE and c2.C2CODE=c3.C2CODE
<where>
	<if test="keyword neq null and keyword neq ''">
		<if test="field eq 'category'">
		and category like #{ keyword }
		</if>
		<if test="field eq 'NICKNAME'">
		and nickname like #{ keyword }
		</if>
	</if>
</where>
</select>


<!-- 모든 상품 조회 -->
<select id="selectAllProduct" resultType="apd" parameterType="brVO">
select NICKNAME , PCODE,NAME as category, PNAME,PRICE,INPUT_DATE
from(select m.NICKNAME,p.PCODE, c2.NAME, p.PNAME, p.PRICE, p.INPUT_DATE
			,row_number() over(order by p.INPUT_DATE desc) rnum
from  PRODUCT p, MEMBER m,CATEGORY2 c2,CATEGORY3 c3
where m.id=p.id   and p.C3CODE = c3.C3CODE and c2.C2CODE=c3.C2CODE 
		<if test="keyword neq null and keyword neq ''">
			<if test="field eq 'category'">
			and category like #{ keyword }
			</if>
			<if test="field eq 'NICKNAME'">
			and nickname like #{ keyword }
			</if>
		</if>
)
 where rnum between 1 and 10
</select>

<!-- 상품 상세 조회 -->
<select id="selectDetailProduct" resultType="apdd" parameterType="String">
select p.PNAME,p.PCODE, p.PCANCEL, m.ID, c2.NAME as category, p.PRICE, p.STATUS,p.INPUT_DATE
from  PRODUCT p, MEMBER m,CATEGORY2 c2,CATEGORY3 c3
where m.id=p.id   and p.C3CODE = c3.C3CODE and c2.C2CODE=c3.C2CODE
and p.pcode=#{ pcode }
</select>

<!-- 관리자가 상품 삭제시 pcancel을 C로 변경 -->
<update id="updateProduct"  parameterType="apVO">
update PRODUCT
set   PCANCEL=#{pcancel}
where  PCODE=#{pcode}
</update>




</mapper>