<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="admin.product">

<!-- 모든 상품 조회 -->
<select id="selectAllProduct" resultType="admin.domain.ProductDomain" parameterType="admin.vo.BoardRangeVO">
select NICKNAME ,NAME, PNAME,PRICE,INPUT_DATE
from(select m.NICKNAME, c2.NAME, p.PNAME, p.PRICE, p.INPUT_DATE
			,row_number() over(order by p.INPUT_DATE desc) rnum
from  PRODUCT p, MEMBER m,CATEGORY2 c2,CATEGORY3 c3
where m.id=p.id   and p.C3CODE = c3.C3CODE and c2.C2CODE=c3.C2CODE 
and c2.NAME = #{ name } and m.NICKNAME =#{ nickname })
where rnum between 1 and 10 
</select>

<!-- 상품 상세 조회 -->
<select id="selectDetailProduct" resultType="admin.domain.ProductDetailDomain" parameterType="String">
select m.NICKNAME, c2.NAME, p.PNAME, p.PRICE, p.INPUT_DATE
from  PRODUCT p, MEMBER m,CATEGORY2 c2,CATEGORY3 c3
where m.id=p.id   and p.C3CODE = c3.C3CODE and c2.C2CODE=c3.C2CODE;
</select>

<delete id="deleteProduct" parameterType="Integer">
delete from PRODUCT where RCODE = # { RCODE }
</delete>


</mapper>